:root {
    --main: #005A9F;
    --secondary: #65BBFF;
    --gray: #E4E4E5;
    --dark: #000F1B;
    --debit: #FB3640;
    --credit: #00BD9D;
    --font: 'Red Hat Display', sans-serif;
}

body {
    font-family: var(--font);
    color: var(--dark);
}

[v-cloak]{
    display: none !important;
}

.layout{
    width: 100%;
    min-height: 100vh;
}


section {
    min-height: 50vh;
}

footer {
    background-color: var(--main);
}

h1 {
    font-weight: bold;
}

.primary-btn {
    background-color: var(--main);
    color: white;
}

.primary-btn:hover {
    background-color: var(--secondary);
    color: var(--dark);
}

.navbar {
    background-color: var(--main);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.bi-list {
    color: white;
    font-size: 2rem;
}

.nav-img {
    height: 3.5rem;
}

.nav-link, .log--out-desktop, .log--out-mobile {
    color: white;
}

.nav-link:hover, .log--out-desktop:hover, .log--out-mobile:hover {
    background-color: white;
    color: var(--main);
}

.navbar-nav .nav-link.active {
    border: 1px solid white;
    color: white;
}

.navbar-nav .nav-link.active:hover {
    background-color: white;
    color: var(--main);
}

.navbar-collapse {
    margin-top: 1.2rem;
}

.log--out-desktop {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .navbar-collapse {
        margin-top: 0;
    }

    .log--out-desktop {
        display: block;
    }

    .log--out-mobile {
        display: none;
    }

}

.card:hover {
     transform: scale(1.05);
     transition: all 0.3s ease-in;
}

/* Accounts */
header {
    height: 13rem;
}

header h1 {
    font-size: 3rem;
    text-align: center;
}

.accounts-banner {
    background:
    linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
    ),
    url('images/banner-accounts.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.accounts-card{
    border: 0;
    width: 320px;
    border-top: 5px solid var(--main);
    border-bottom-right-radius: 50px;
}

.account-amount, .accounts-icon {
    color: var(--main);
}

@media only screen and (min-width: 768px){
    header {
        height: 20rem;
    }

    header h1 {
        font-size: 4rem;
    }

    .accounts-card {
        width: 500px;
    }
}

/* Account */

.account-card {
    border: 0;
    max-width: 320px;
    border-top: 5px solid var(--main);
}

.account-table {
    max-width: 1000px;
}

.account-corner-left {
    border-radius: 0.5rem 0 0 0;
}

.account-corner-right {
    border-radius: 0 0.5rem 0 0;
}

.table-head {
    --bs-table-color: white;
}

.table-titles {
    --bs-table-bg: var(--main);
}

.table .debit {
    color: var(--debit);
}

.table .credit {
    color: var(--credit);
}

.account-img {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
}