:root {
    --main: #005A9F;
    --secondary: #65BBFF;
    --gray: #E4E4E5;
    --dark: #000F1B;
    --debit: #FB3640;
    --credit: #00BD9D;
    --font: 'Red Hat Display', sans-serif;
}

body {
    font-family: var(--font);
    color: var(--dark);
}

[v-cloak] {
    display: none !important;
}

.layout {
    width: 100%;
    min-height: 100vh;
}

.accounts-section, .account-section {
    min-height: 50vh;
}

footer {
    background-color: var(--main);
}

h1 {
    font-weight: bold;
}

.primary-btn {
    background-color: var(--main);
    color: white;
}

.primary-btn:hover {
    background-color: var(--secondary);
    color: var(--dark);
}

.secondary-btn {
    background-color: white;
    color: var(--main);
    border: 1px solid var(--main);
}

.secondary-btn:hover {
    border: 1px solid var(--secondary);
    color: var(--main);
}

.navbar {
    background-color: var(--main);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    box-shadow: none;
}

.bi-list {
    color: white;
    font-size: 2rem;
}

.nav-img {
    height: 3.5rem;
}

.nav-link,
.log--out-desktop,
.log--out-mobile {
    color: white;
}

.nav-link:hover,
.log--out-desktop:hover,
.log--out-mobile:hover {
    background-color: white;
    color: var(--main);
}

.navbar-nav .nav-link.active {
    border: 1px solid white;
    color: white;
}

.navbar-nav .nav-link.active:hover {
    background-color: white;
    color: var(--main);
}

.navbar-collapse {
    margin-top: 1.2rem;
}

.log--out-desktop {
    display: none;
}

@media only screen and (min-width: 1024px) {
    .navbar-collapse {
        margin-top: 0;
    }

    .log--out-desktop {
        display: block;
    }

    .log--out-mobile {
        display: none;
    }

}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in;
}

.small-text {
    font-size: 0.8rem;
}

.form-control {
    border-width: 2px;
}

.form-control::placeholder {
    color: gray;
}

.form-control:focus {
    border: 2px solid var(--main);
    box-shadow: none;
}

/* Accounts */
header {
    height: 13rem;
}

.accounts-welcome {
    font-size: 3rem;
}

.accounts-banner {
    background:
        linear-gradient(rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.5)),
        url('images/accounts/banner-accounts.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.accounts-card {
    border: 0;
    width: 320px;
    border-top: 5px solid var(--main);
    border-bottom-right-radius: 50px;
}

.account-amount,
.accounts-icon {
    color: var(--main);
}

@media only screen and (min-width: 768px) {
    header {
        height: 20rem;
    }

    header h1 {
        font-size: 4rem;
    }

    .accounts-card {
        width: 500px;
    }
}

/* Account */

.account-card {
    border: 0;
    max-width: 320px;
    border-top: 5px solid var(--main);
}

.account-table {
    max-width: 1000px;
}

.account-corner-left {
    border-radius: 0.5rem 0 0 0;
}

.account-corner-right {
    border-radius: 0 0.5rem 0 0;
}

.table-head {
    --bs-table-color: white;
}

.table-titles {
    --bs-table-bg: var(--main);
}

.table .debit {
    color: var(--debit);
}

.table .credit {
    color: var(--credit);
}

.account-img {
    width: 100%;
    max-height: 600px;
    object-fit: contain;
}

/* Cards */
.cards-section {
    min-height: 70vh;
}

.card-model {
    width: 310px;
    height: 200px;
    border-radius: 10px;
    perspective: 1000px;
}

.card-model:hover .card-inner {
    transform: rotateY(180deg);
}

.card-inner {
    position: relative;
    width: 310px;
    height: 200px;
    border-radius: 10px;
    transition: transform 600ms ease;
    transform-style: preserve-3d;
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.2);
}

.card-front,
.card-back {
    position: absolute;
    top: 0;
    width: 310px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
}

.card-front-titanium, .card-back-titanium {
    background: linear-gradient(321.03deg, #6E6D68 0%, #14130E 91.45%);
}

.card-front-gold, .card-back-gold {
    background: linear-gradient(321.03deg, #EDC531 0%, #8D6815 91.45%);
}

.card-front-silver, .card-back-silver {
    background: linear-gradient(321.03deg, #A0A0A0 0%, #6B6B6B 91.45%);
}

.card-front {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: transform 300ms ease-in-out;
    color: white;
}

.card-back {
    transform: rotateY(180deg);
}

.card-back::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 20%;
    width: 180%;
    height: 120%;
    border-radius: 100%;
    filter: blur(10px);
    opacity: 0.15;
}

.card-back::after {
    content: "";
    position: absolute;
    top: 15%;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(5,5,5,1) 57%, rgba(10,10,10,1) 100%);
}

.card-bg {
    position: absolute;
    top: -20px;
    right: -120px;
    width: 380px;
    height: 250px;
    border-top-left-radius: 100%;
}

.card-bg::before {
    content: "";
    position: absolute;
    top: -20px;
    right: -80px;
    width: 380px;
    height: 250px;
    border-top-left-radius: 100%;
}

.card-bg::after {
    content: "";
    position: absolute;
    top: -20px;
    right: -120px;
    width: 380px;
    height: 250px;
    border-top-left-radius: 100%;
}

.card-bg-titanium::before {
    background: linear-gradient(321.03deg, #6E6D68 0%, #14130E 91.45%);
}

.card-bg-titanium::after {
    background: linear-gradient(321.03deg, #6E6D68 0%, #14130E 91.45%);
}

.card-bg-gold::before {
    background: linear-gradient(321.03deg, #FBDC60 0%, #8D6815 91.45%);
}

.card-bg-gold::after {
    background: linear-gradient(321.03deg, #FBDC60 0%, #8D6815 91.45%);
}

.card-bg-silver::before {
    background: linear-gradient(321.03deg, #A0A0A0 0%, #6B6B6B 91.45%);
}

.card-bg-silver::after {
    background: linear-gradient(321.03deg, #A0A0A0 0%, #6B6B6B 91.45%);
}

.card-glow {
    position: absolute;
    top: -140px;
    left: -65px;
    height: 200px;
    width: 400px;
    filter: blur(10px);
    border-radius: 100%;
    transform: skew(-15deg, -15deg);
}

.card-type {
    position: absolute;
    top: 25px;
    left: 25px;
}

.card-contactless {
    position: absolute;
    right: 15px;
    top: 55px;
    transform: scale(0.5);
}

.card-chip {
    position: absolute;
    top: 65px;
    left: 25px;
    width: 45px;
    height: 34px;
    border-radius: 5px;
    background-color: #ffda7b;
    overflow: hidden;
}

.card-chip::before {
    content: "";
    position: absolute;
    left: 49%;
    top: -7%;
    transform: translateX(-50%);
    background: #ffda7b;
    border: 1px solid #a27c1f;
    width: 25%;
    height: 110%;
    border-radius: 100%;
    z-index: 2;
}

.card-chip::after {
    content: "";
    position: absolute;
    top: 30%;
    left: -10%;
    background: transparent;
    border: 1px solid #a27c1f;
    width: 120%;
    height: 33%;
}

.card-holder {
    position: absolute;
    left: 25px;
    bottom: 30px;
    font-size: 14px;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-number {
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-valid {
    position: absolute;
    right: 25px;
    bottom: 30px;
    font-size: 14px;
    letter-spacing: 0.2em;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}

.card-valid::before {
    content: "From Date";
    text-transform: uppercase;
    position: absolute;
    top: 1px;
    left: -35px;
    width: 50px;
    font-size: 7px;
}

.card-signature {
    position: absolute;
    top: 120px;
    left: 15px;
    width: 70%;
    height: 30px;
    background: #eeecec;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #021318;
    font-size: 1.3rem;
    font-weight: 400;
}

.card-signature::before {
    content: "Thru Date";
    font-family: var(--font);
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 1rem;
    color: #eeecec;
}

.card-seccode {
    position: absolute;
    top: 125px;
    left: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 17px;
    color: #021318;
    background-color: #eeecec;
    text-align: center;
    font-size: 1rem;
}

.logo {
    position: absolute;
    right: 20px;
    top: 18px;
    height: 2.5rem;
}

/* Login */
.login-center {
    display: flex;
    align-items: center;
}

.login-background {
    background-color: var(--main);
}

.login-container {
    background-color: white;
    width: 90%;
    height: 800px;
}

.sign-up-container {
    height: 1100px;
}

.login-logo {
    width: 12rem;
}

.login-main {
    margin: 2.5rem 0 4rem;
}

.form-show-password i {
    display: block;
    padding-top: 0.1rem;
}

.login-link {
    text-decoration: none;
    color: var(--main);
}

.login-link:hover {
    text-decoration: underline;
}

.login-side {
    max-height: 200px;
    object-fit: cover;
    border-radius: 0 0 1.9rem  1.9rem;
}

.login-error {
    font-size: 0.9rem
}

.login-error i{
    color: var(--debit);
}

.input-warning {
    border: 2px solid var(--debit);
}

.form-left-width {
    width: 300px;
}

@media only screen and (min-width: 768px) {
    .form-left-width {
        width: 350px;
    }
    .login-side {
        display: block;
        border-radius: 0 1.9rem 1.9rem 0;
        object-fit: cover;
        width: 50%; 
        max-height: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    .form-left-width {
        width: 360px;
    }
    .login-container {
        max-width: 900px;
    }
}